**泰坦尼克号乘客生存预测**

In [29]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.feature_extraction import DictVectorizer
from sklearn.model_selection import train_test_split

In [6]:
titan = pd.read_csv("./data/titanic3.csv")
titan.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [47]:
# feature
x = titan[["pclass","sex","age"]]

# target
y = titan["survived"]

In [48]:
x

      pclass     sex    age
0          1  female  29.00
1          1    male   0.92
2          1  female   2.00
3          1    male  30.00
4          1  female  25.00
...      ...     ...    ...
1304       3  female  14.50
1305       3  female    NaN
1306       3    male  26.50
1307       3    male  27.00
1308       3    male  29.00

[1309 rows x 3 columns]

In [49]:
# impute the NA in x.age
x["age"].fillna(x["age"].mean(), inplace =True)

/var/folders/tw/qj_b1bnd3yl57fbv_39r1zw40000gn/T/ipykernel_50289/3267529027.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  x["age"].fillna(x["age"].mean(), inplace =True)
/var/folders/tw/qj_b1bnd3yl57fbv_39r1zw40000gn/T/ipykernel_50289/3267529027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["age"].fillna(x["age"].mean(), inplace =True)

In [54]:
x["pclass"] = x["pclass"].astype(str)
x["pclass"]

/var/folders/tw/qj_b1bnd3yl57fbv_39r1zw40000gn/T/ipykernel_50289/1198783698.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["pclass"] = x["pclass"].astype(str)

0       1
1       1
2       1
3       1
4       1
       ..
1304    3
1305    3
1306    3
1307    3
1308    3
Name: pclass, Length: 1309, dtype: object

In [55]:
x["pclass"][0]

'1'

In [56]:
# 实例化一个转换器
transfer = DictVectorizer(sparse=False)

x = transfer.fit_transform(x.to_dict(orient="records"))

print(transfer.get_feature_names_out())

['age' 'pclass=1' 'pclass=2' 'pclass=3' 'sex=female' 'sex=male']

In [57]:
print(x)

[[29.    1.    0.    0.    1.    0.  ]
 [ 0.92  1.    0.    0.    0.    1.  ]
 [ 2.    1.    0.    0.    1.    0.  ]
 ...
 [26.5   0.    0.    1.    0.    1.  ]
 [27.    0.    0.    1.    0.    1.  ]
 [29.    0.    0.    1.    0.    1.  ]]

In [58]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3)

dctree = DecisionTreeClassifier(max_depth=5)

dctree.fit(x_train, y_train)

print("预测的结果", dctree.score(x_test, y_test))

预测的结果 0.7811704834605598

In [60]:
# 导出可视化的决策树
export_graphviz(dctree, out_file="./tree.dot", feature_names=['age', 'pclass=1', 'pclass=2', 'pclass=3', 'sex=female', 'sex=male'])

`dot -Tpng tree.dot -o tree.png`终端运行